:root {
    --red: #771011;
    --gray-transparent: rgba(111, 99, 88, 0.2);
    --black: #221712;
    --gray-dark: #6F6358;
    --white: #ffffff;
    --gray: #acacac;
    --blue: #5d9792;
    --dark-blue: #467470;
    --light-gray: #f4f4f4;
    --background-light: #f9f9f9;
    --highlight-color: #2a9d8f;
    --input-bg: #f1f1f1;
    --input-border: #ddd;
    --input-focus: #aaa;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: Arial, Helvetica, sans-serif;
}

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-bottom: 0.6px solid var(--gray);
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
}

#logo-top {
    padding: 10px;
}

#login, #logout {
    color: var(--dark-blue);
    font-size: 14px;
    font-weight: bolder;
    background-color: transparent;
    padding: 10px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#login:hover, #logout:hover {
    color: var(--red);
}

#hello-user {
    color: #467470;
    font-size: 14px;
    font-weight: bolder;
    padding: 5px 15px;
}

.top-button-logged-in {
    display: none;
}

.mid {
    padding: 40px 20px;
    background-color: var(--background-light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    background-color: var(--highlight-color);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
}

.tab-button:hover {
    background-color: var(--dark-blue);
}

.tab-content {
    display: none;
    width: 100%;
    max-width: 600px;
}

.tab-content.active {
    display: block;
}

form {
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

form h2 {
    color: var(--highlight-color);
    margin-bottom: 20px;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 8px;
    color: var(--black);
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

form input:hover, form input:active, form input:focus {
    outline: none;
}

form input:focus {
    border-color: var(--input-focus);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form button {
    background-color: var(--highlight-color);
    color: var(--white);
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

form button:hover {
    background-color: var(--dark-blue);
}

.footer {
    background-color: var(--gray-dark);
    color: #fff;
    padding: 40px 20px;
    flex-direction: column;
}

.footer-sections {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section {
    flex: 3;
    text-align: center;
    width: fit-content;
}

.footer-section h3 {
    font-size: 16px;
    margin-bottom: 12px;
    color: #fff;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: var(--gray);
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}
.footer-section ul li a:hover {
    color: var(--red);
}

.footer-bottom {
    position: relative;
    top: 15%;
    font-size: 10px;
    color: var(--gray);
}

#find-company-result.success, #add-company-result.success, #update-company-result.success, #delete-company-result.success,
#find-category-result.success, #add-category-result.success, #update-category-result.success, #delete-category-result.success {
    color: green;
}

#find-company-result.error, #add-company-result.error, #update-company-result.error, #delete-company-result.error,
#find-category-result.error, #add-category-result.error, #update-category-result.error, #delete-category-result.error {
    color: red;
}

#all-companies-result p, #total-companies-result, #all-categories-result p, #total-categories-result {
    margin: 10px 0;
}
