/* home.css */

:root {
    --red: #771011;
    --black:#221712;
    --gray-dark:#6F6358;
   --white:#fffeea;
   

    
  }
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto; 
    min-height: 100vh; 
    overflow: hidden;
}

.top {
    background-color:var(--red);
    color: #fff;
    padding: 40px;
    grid-row: 1;
}

.mid {
    flex: 1;
    text-align: center;
    background-color: #fffeea;
}

.footer {
    background-color:var(--gray-dark);
    color: #fff;
    padding: 25px;
    width: 100%;
}
