:root {
    --red: #771011;
    --gray-transparent: rgba(111, 99, 88, 0.2);
    --black: #221712;
    --gray-dark: #6F6358;
    --white: #fffeea;
    --gray: #acacac;
    --blue:#5d9792;
    --dark-blue:#467470;
}

body {
    background-color: var(--white);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    overflow-x: hidden;
    background: url('../../assets/home-images/img/vacation3.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* top */
.top {
    background-color: var(--dark-blue);
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    align-items: center;
    color:#acacac;
    padding: 10px 30px; 
    grid-row: 1;
    width: 100%;
    border-bottom: 0.6px solid var(--gray); 
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
}

#vacation-photo {
    padding: none;
}

.login {
    background-color: transparent;
    border: none;
    color: #771011;
    text-decoration: underline;
    font-size: 13px;
}

.login:hover {
    cursor: pointer;
}

#logo-top {
    position: absolute;
    top: 20px;
    left: 20px;
}






/**********************************/






/* mid */
.mid {
    color: var(--gray-dark);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    grid-row: 2;
    width: 100%;

    position: relative;
}


.data {
    width: 441px;
    height: 381px;
    z-index: 3;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    justify-content: space-between; 
}

.new {
    font-size: 25px;
    font-weight: bold;
    color: var(--gray-dark);
    margin-bottom: 20px; 
    width: fit-content;
}

.deta-new {
    display: flex;
    flex-direction: column;
}

.deta-new label {
    display: inline-block;
    width: 100px; 
    margin-right: 8px; 
}

.form-group {
    display: inline-block;

    display: flex;
    align-items: center;
    margin-bottom: 13px; 
}

.form-group label {
    width: 200px;
    margin-right: 10px; 
}

.form-group input {
    font-size: 12px;
    flex-grow: 0;
    width: 150%; 
    padding: 3px;
    border: 0.5px solid var(--gray-dark); 
    outline: none; 
    background-color: transparent;
    z-index: 3;
    border-radius: 7px;
}

.form-group input:focus,
.form-group input:active {
    box-shadow: 0 0 2px var(--red);
}

.customer-care {
    height: 382px;
    padding: 30px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 220px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 15px;
}

.deta-new {
    display: flex;
    flex-direction: column;
    width: 60%; 
}

.content-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px; /* Adjust as needed for spacing from top */
}

.care-text-top {
    margin-bottom: 10px; 
    margin-left:15px;
    height: 30px;
    padding: none;
    border-bottom: 0.5px solid rgb(67, 67, 67);
    width: 185px;
    font-size: 20px;
    color: var(--gray-dark);
    font-weight: bold;
}

.care-mid img {
    border-radius: 13px;
}



/**********************************/





/* footer */

.footer {
    margin-top:50px;
    background-color: var(--gray-dark);
    color: #fff;
    padding: 40px 20px;
    flex-direction: column;
}

.footer-sections {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section {
    flex: 3;
    text-align: center;
    width: fit-content;
}
.footer-section h3 {
    font-size: 16px;
    margin-bottom: 12px;
    color: #fff;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: var(--gray);
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: var(--red);
}

.footer-bottom {
    position: relative;
    top: 15%;
    font-size: 10px;
    color: var(--gray);
}

label {
    display: block;
}

input,
label {
    
    margin: 0.4rem 0;
}

input[type="radio"]:focus,
input[type="radio"]:active,
input[type="radio"] {
    outline: none;
    box-shadow: none;
    border: none;
}

.gender-input {
    gap: 5px;
    
    display: flex;
    align-items: center;
}

.gender-input label {
    width:fit-content;
    margin-right: 36px; 
}

.gender-input input {
    width:fit-content;
    background-color: transparent;

    margin-right: 2px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.form-image {
    width: 100%; 
    max-width: 250px; 
    max-height: 350px;
    object-fit: cover; 
}


.toggle-password {
    position: absolute;
    margin-left: 245px;
    background: transparent;
    color: var(--red);
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 100;
    font-size: 15px;
}

.toggle-password:focus {
    outline: none; 
}

.error-message {
   color: #221712;
    font-size: 12px;
    position: absolute;
    margin-left: 280px;
}

.sign-up{

    background-color:var(--gray);
    margin-right: 30px;
    color: var(--white);
    padding: 10px;
    border-radius: 15px;
    border: none;
    width: 120px;
}
#password-error {
    position: absolute;
    margin-left: 280px;
    color: #ff4d4d; 
    font-size: 10px;
    margin-top: 5px; 
    display: block; 
    font-weight: bold; 
}

#sign-up {
    background-color: var(--gray); 
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: not-allowed; 
    font-size: 16px; 
}

#sign-up.active {
    background-color: var(--blue); 
    cursor: pointer; 
}

.description {
    font-size: 15px;
}