<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="orders.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../assets/home-images/img/logo-small.jpeg">
    <title>Order Management</title>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="top-section">
        <div>
            <img src="../../assets/home-images/img/logo-vacationHub.png" id="logo-top" width="200px">
        </div>
        <div>
            <span class="top-button-logged-in">
                <span id="hello-user">Hello</span>
                <button id="logout" class="button">Logout</button>
            </span>
            <span class="top-button">
                <a href="../../Auth/Login/login.html" id="login" class="button">Login</a>
            </span>
        </div>
    </div>
    <div class="container">
        <h1>Order Management</h1>
        <div class="search-back">
            <div class="search-beck-wrapper">
              <div class="search-form-back">
                <input type="text" id="email" placeholder="Enter Email">
                <input type="text" id="destination" placeholder="Enter destination">
  
                <input type="text" id="month" placeholder="Enter month">
     
             
                <button id="searchFormButton">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
  



          
        <div class="search-con">
            <div class="search-con-wrapper">
                <div class="search-form">
                    <div class="dropdown">
                        <button class="dropbtn" data-value="OrderNumber">Select Search Criteria</button>
                        <div class="dropdown-content">
                            <a href="#" data-value="OrderNumber">Order Number</a>
                            <a href="#" data-value="vacationId">Vacation ID</a>
                            <a href="#" data-value="status">Status</a>
                            <a href="#" data-value="email">Email</a>
                            <a href="#" data-value="userName">User Name</a>
                            <a href="#" data-value="companyName">Company Name</a>
                        </div>
                    </div>
                    <input type="text" id="search-id" placeholder="Enter search value">
                    <button class="search-button" onclick="searchBooking()"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                          </svg>
                    </button>
                    <button class="clear-button" onclick="clearSearch()">Clear Search</button>
                </div>
            </div>
        </div>
        <div id="cards-container" class="cards-container">
            <!-- Cards will be inserted here -->
        </div>
        <div class="show-more-container">
            <button class="show-more" onclick="showMoreBookings()">Show More</button>
        </div>
    </div>
    <div class="footer">
        <div class="footer-sections">
            <div class="footer-section">
                <h3>User Access</h3>
                <ul>
                    <li><a href="../../Auth/Register/register.html">Register</a></li>
                    <li><a href="../../Auth/Login/login.html">Login</a></li>
                    <li><a href="../../Home/home.html">Home</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Company</h3>
                <ul>
                    <li><a href="../../aboutUs/about.html">About Us</a></li>
                    <li><a href="../../viewport/reviews.html">Reviews</a></li>
                    <li><a href="../../blog/blog.html">Blog</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Support</h3>
                <ul>
                    <li><a href="../../FAQs/FAQs.html">FAQ</a></li>
                    <li><a href="../../PrivacyPolicy/PrivacyPolicy.html">Privacy Policy</a></li>
                    <li><a href="../../terms/terms.html">Terms of Service</a></li>
                    
                </ul>
            </div>
            <div class="footer-section" id="admin-section">
                <h3>Admin</h3>
                <ul>
                    <li><a href="../Facebook/facebook.html" id="admin-link">Facebook Page</a></li>
                    <li><a href="../Admin/userorders /userorder.html" id="admin-link">Orders Management</a></li>
                    <li><a href="../Admin/addvacation/add.html" id="admin-link">Vacation Management</a></li>
                    <li><a href="../Admin/add/addComp.html" id="admin-link">Company Management</a></li>

                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <span>© 2024 VacationHub. All Rights Reserved.</span>
            <span>Your ultimate travel companion. Discover, plan, and book your perfect getaway with us.</span>
        </div>
    </div>
    <script src="orders.js"></script>
</body>
</html>
