:root {
    --red: #771011;
    --gray-transparent: rgba(111, 99, 88, 0.2);
    --black: #221712;
    --gray-dark: #6F6358;
    --white: #fffeea;
    --gray: #acacac;
    --blue: #5d9792;
    --dark-blue: #467470;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../../assets/home-images/img/vacation3.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

#my_dataviz {
    background-color: rgba(255, 255, 255, 0.8); /* רקע חצי שקוף לגרף */
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* הגדל את רוחב המיכל */
    max-width: 1100px; /* הגדרת רוחב מקסימלי */
    height: 90vh; /* הגדל את גובה המיכל */
    overflow: hidden; /* לוודא שאין גלילה פנימית */
}

@media (max-width: 768px) {
    #my_dataviz {
        width: 90%;
        height: 70vh;
    }

    #my_dataviz text {
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    #my_dataviz {
        width: 95%;
        height: 60vh;
    }

    #my_dataviz text {
        font-size: 8px;
    }
}
