<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="home.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VacationHub</title>
</head>

<body>
    <div class="top-section">
        <div>
            <img src="../assets/home-images/img/logo.jpeg" id="logo-top" width="200px">
        </div>

        <div>
            <span class="top-button-logged-in">
                <span id="hello-user">
                    Hello
                </span>
                <button id="logout">
                    Logout
                </button>
            </span>

            <span class="top-button">
                <a href="../Auth/Register/register.html" id="login">
                    Register
                </a>
                <a href="../Auth/Login/login.html" id="login">
                    Login
                </a>
            </span>
        </div>
    </div>

    <div class="mid">
        <div class="save">
            <i class="fa fa-plane" style="font-size:24px"></i>
            Save 10% or more with Member Prices – savings get better as you climb through the tiers
        </div>

        <div class="recommendations">
            <span class="not-bold">
                Get Inspired<br>
            </span>
            <span class="by-category">
                Out Vacations By Categories
            </span>
        </div>

        <div class="slider-container">
            <button class="slider-button" id="prev-slide"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                    fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                    <path
                        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                </svg></button>
            <div class="slider">
                <div class="slide">
                    <button class="vacation-inspired">
                        <span class="button-text-2">Family</span>
                        <img src="../assets/home-images/img/Family.png" width="270px">
                    </button>
                </div>
                <div class="slide">
                    <button class="vacation-inspired">
                        <span class="button-text-2">Polar</span>
                        <img src="../assets/home-images/img/Polar.png" width="270px">
                    </button>
                </div>  
                <div class="slide">
                    <button class="vacation-inspired">
                        <span class="button-text-2">Food</span>
                        <img src="../assets/home-images/img/wine.png" width="270px">
                    </button>
                </div>
                <div class="slide">
                    <button class="vacation-inspired">
                        <span class="button-text-2">Cruise</span>
                        <img src="../assets/home-images/img/Cruise.png" width="270px">
                    </button>
                </div>
                <div class="slide">
                    <button class="vacation-inspired">
                        <span class="button-text-2">Cities</span>
                        <img src="../assets/home-images/img/hotel1.png" width="270px">
                    </button>
                </div>

                <div class="slide">
                    <button class="vacation-inspired">
                        <span class="button-text-2">Beaches</span>
                        <img src="../assets/home-images/img/Beaches.png" width="270px">
                    </button>
                </div>

                <div class="slide">
                    <button class="vacation-inspired">
                        <span class="button-text-2">Ski</span>
                        <img src="../assets/home-images/img/ski.png" width="270px">
                    </button>
                </div>


            </div>
            <button class="slider-button" id="next-slide"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                    fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path
                        d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                </svg></button>
        </div>

        <div class="position-relative">
            <img class="top-rated-vacation-background" src="../assets/home-images/img/vacation3.png" width="1300px"
                class="border-rad">
            <div class="over-photo">
                <h3>
                    Our Top Vacations
                </h3>

                <section id="cards">
                    <!-- Top 4 vacations will be loaded here dynamically -->
                </section>
                <a href="../User/Vacations/allVacations.html" class="all-vacations">see all vacations
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-airplane" viewBox="0 0 16 16">
                        <path
                            d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849m.894.448C7.111 2.02 7 2.569 7 3v4a.5.5 0 0 1-.276.447l-5.448 2.724a.5.5 0 0 0-.276.447v.792l5.418-.903a.5.5 0 0 1 .575.41l.5 3a.5.5 0 0 1-.14.437L6.708 15h2.586l-.647-.646a.5.5 0 0 1-.14-.436l.5-3a.5.5 0 0 1 .576-.411L15 11.41v-.792a.5.5 0 0 0-.276-.447L9.276 7.447A.5.5 0 0 1 9 7V3c0-.432-.11-.979-.322-1.401C8.458 1.159 8.213 1 8 1s-.458.158-.678.599" />
                    </svg>
                </a>
            </div>
        </div>

        <img src="../assets/home-images/img/logo-big.png" class="photo-logo">  

        <div class="Find">
            <p>Find and book your perfect stay</p>
            <div class="find-boxes">
                <div class="find-box">
                    Unlock travel rewards with One Key
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-airplane-fill" viewBox="0 0 16 16">
                        <path
                            d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849" />
                    </svg>
                </div>
                <div class="find-box">
                    Save more with Member Prices
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-piggy-bank-fill" viewBox="0 0 16 16">
                        <path
                            d="M7.964 1.527c-2.977 0-5.571 1.704-6.32 4.125h-.55A1 1 0 0 0 .11 6.824l.254 1.46a1.5 1.5 0 0 0 1.478 1.243h.263c.3.513.688.978 1.145 1.382l-.729 2.477a.5.5 0 0 0 .48.641h2a.5.5 0 0 0 .471-.332l.482-1.351c.635.173 1.31.267 2.011.267.707 0 1.388-.095 2.028-.272l.543 1.372a.5.5 0 0 0 .465.316h2a.5.5 0 0 0 .478-.645l-.761-2.506C13.81 9.895 14.5 8.559 14.5 7.069q0-.218-.02-.431c.261-.11.508-.266.705-.444.315.306.815.306.815-.417 0 .223-.5.223-.461-.026a1 1 0 0 0 .09-.255.7.7 0 0 0-.202-.645.58.58 0 0 0-.707-.098.74.74 0 0 0-.375.562c-.024.243.082.48.32.654a2 2 0 0 1-.259.153c-.534-2.664-3.284-4.595-6.442-4.595m7.173 3.876a.6.6 0 0 1-.098.21l-.044-.025c-.146-.09-.157-.175-.152-.223a.24.24 0 0 1 .117-.173c.049-.027.08-.021.113.012a.2.2 0 0 1 .064.199m-8.999-.65a.5.5 0 1 1-.276-.96A7.6 7.6 0 0 1 7.964 3.5c.763 0 1.497.11 2.18.315a.5.5 0 1 1-.287.958A6.6 6.6 0 0 0 7.964 4.5c-.64 0-1.255.09-1.826.254ZM5 6.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0" />
                    </svg>
                </div>
                <div class="find-box">
                    Free cancellation options if plans change
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-send-x-fill" viewBox="0 0 16 16">
                        <path
                            d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 1.59 2.498C8 14 8 13 8 12.5a4.5 4.5 0 0 1 5.026-4.47zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z" />
                        <path
                            d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-4.854-1.354a.5.5 0 0 0 0 .708l.647.646-.647.646a.5.5 0 0 0 .708.708l.646-.647.646.647a.5.5 0 0 0 .708-.708l-.647-.646.647-.646a.5.5 0 0 0-.708-.708l-.646.647-.646-.647a.5.5 0 0 0-.708 0" />
                    </svg>
                </div>
            </div>
        </div>

    </div>

    <div class="footer">
        <span class="footer-text">
            © 2024 VacationHub. All Rights Reserved.
            Your ultimate travel companion. Discover, plan, and book your perfect getaway with us.
        </span>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="home.js"></script>
</body>

</html>