:root {
    --red: #771011;
    --gray-transparent: rgba(111, 99, 88, 0.2);
    --black: #221712;
    --gray-dark: #6F6358;
    --white: #ffffff;
    --gray: #acacac;
    --blue: #5d9792;
    --dark-blue: #467470;
    --light-gray: #f4f4f4;
    --background-light: #f9f9f9;
    --highlight-color: #305754; /* New color */
}

body, html {
    margin: 0;
    padding: 0;    
    background-color: var(--light-gray);

    
    height: 100vh;   
    font-family:Arial, Helvetica, sans-serif;
}
.mid{
    background-color: var(--light-gray);
    margin: 0;
    padding: 0;
}
.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: white;
    border-bottom: 0.6px solid var(--gray); 
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);  
}

#logo-top {
    padding: 10px;
}

#login,
#logout{
    color: var(--dark-blue);
    font-size: 14px;
    font-weight: bolder;
    background-color: transparent;
    padding: 10px; 
    border:none;
    cursor: pointer;
    text-decoration: none;

    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

#login:hover,
#logout:hover {
    color: var(--red);
}

#hello-user {
    color: #467470;
    font-size: 14px;
    font-weight: bolder;
    padding: 5px 15px; 
}

.top-button-logged-in{
    display: none;
    
}

.mid-contant {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}


.photo-logo{
    margin-top: 40px;
    margin-bottom: 35px;
    width: 90%;
    height: auto;
    display: block;
    border: 5px solid var(--gray-dark); 
    box-shadow: 5px 5px 15px var(--gray-dark); 
    transition: transform 0.3s ease; 
}

.photo-logo:hover {
    transform: scale(1.05); 
}

.photo-mid{
    justify-content: center;
   
    width: 90%;
    margin-top: 5rem;
    border-radius: 30px;
}

.save {
    width:97%;
    background-color: #771011;
    box-shadow: 1px 1px 1px 1px  #771011;
    border-radius: 6px;
    color: var(--white); 
    margin-top: 5px;
    font-size: 13px; 
}

.fa-plane{
    margin-right: 25px;
}

.recommendations{
    margin-top: 1rem;
    font-size: 40px;
 
}
.slider-container {
    position: relative;
    width: 80%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 25%; 
    transition: transform 0.5s ease;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white);
    background:transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.slider-button:hover{
   color: var(--blue);
}

#prev-slide {
    left: 0;
}


#next-slide {
    right: 0;
}


.not-bold {
    font-weight: 100; 
    font-size: 35px; 
    color: #626262; 
}

.by-category {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333; /* צבע הטקסט */
}

.Find{   
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-radius: 7px;
    background-color: var(--blue);
    box-shadow: 1px 1px 1px 1px  var(#6bb6f7);
    color: var(--white); 
    font-size: 15px; 
    margin-top: 15px;
    margin-bottom: 2px;
}

p {
    margin-top: 20px;
    margin-bottom: -5px;
    padding: 0;
}

.find-boxes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.find-box{
   
    margin: 22px;
    text-align: center;
    align-items: center;
    width: 14rem;
    padding: 7px;
    background-color: var(--dark-blue);
    box-shadow: 1px 1px 1px 1px var(#6bb6f7);
    border-radius: 13px;
    color: var(--white);
    font-size: 17px;
}

.vacation-inspired{
    position: relative;
    overflow: hidden;
    display: inline-block;
    background-color:transparent;
    border: none;
    transition: transform 0.3s ease; 

}
.button-text-2 {
    position: absolute; /* מיקום מוחלט בתוך ההורה */
    bottom: 2px; /* מרחק מהחלק התחתון של ההורה */
    left: 6px; /* מרחק מהחלק השמאלי של ההורה */
    right: 0; /* מרחק מהחלק הימני של ההורה */
    color: var(--white); /* צבע הטקסט */
    font-size: 15px; /* גודל הטקסט */
    
    width: 92%;
    pointer-events: none; /* מונע מהטקסט להפריע ללחיצה על הכפתור */
    background: rgba(0, 0, 0, 0.5); /* רקע חצי שקוף */
    padding: 5px; /* רווח פנימי */
    border-radius: 0 0 14px 14px; /* פינות מעוגלות רק בתחתית */
    text-align: center; /* יישור טקסט למרכז */
}

.slider-container {
    margin-top: 14px;
}

.vacation-inspired:hover{
    transform: scale(1.05); 
    cursor: pointer;

}

.vacation-inspired img{
    border-radius: 20px;
}

.border-rad{
    border-radius: 30px;
}

.position-relative {
    position: relative; 
    width: 100%;
    margin-top: 45px;
}

.top-rated-vacation-background {
    width: 97%; 
    border-radius: 8px;
}

.over-photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    width: 94%; 
    font-weight: bold;
    font-size: 2vw;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; 
}

#cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}

#cards img {
    width: 90%;
    height: 70%;
    border-radius: 8px;
}

.card-vacations {
    width: 25%;
}

.vacation-details{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: start;
    margin-left: 9px;
}

.description {
    text-decoration: underline;
    padding-top: 10px;
    font-weight: bold;
    font-size: 17px;
}

.destination {
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--white);
    text-align: start;
    margin-top: 10px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}

.rating {
    font-size: 13px;
    padding: 0;
    margin-top: 3px;
}

.all-vacations {
    margin-top: 38px;
    background-color: var(--white);
    color: var(--red);
    padding: 13px;
    border-radius: 20px;
    font-size: 16px;
    text-decoration: none;
}

#cards a{
    color: var(--white);
}


.footer {
    background-color: var(--gray-dark);
    color: #fff;
    padding: 40px 20px;
    flex-direction: column;

}

.footer-sections {
    width: 100%;
    display: flex;
    align-items: center;
   
    justify-content: space-between;

}

.footer-section {
    flex: 3;
    text-align: center;
    width: fit-content;


  
}

.footer-section h3 {
    font-size: 16px;
    margin-bottom: 12px;
    color: #fff;
}

.footer-section ul {

    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: var(--gray);
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: var(--red);
}

.footer-bottom {

    position: relative;
    top: 15%;
    font-size: 10px;
    color: var(--gray);
}


@media (min-width: 2560px) {
    body {
        font-size: 16px; 
    }
    
    .container, .slider-container, .position-relative {
        width: 80%; 
        margin: 0 auto; 
    }
}

@media (max-width: 1024px) {
    body {
        font-size: 14px; 
    }

    .container, .slider-container, .position-relative {
        width: 95%; 
    }

    .top-section, .footer {
        flex-direction: column; 
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px; 
    }

    .container, .slider-container, .position-relative {
        width: 100%; 
    }

    .footer {
        padding: 5px; 
    }
}


/* אזור תחזית מזג האוויר */
.weather {
    background-color: var(--background-light);
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    width: 95%;
}

.weather h2 {
    color: var(--highlight-color);
    margin-bottom: 15px;
    font-size: 1.5em;
}

.weather label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: var(--dark-blue);
}

.weather input {
    width: calc(30% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    box-sizing: border-box;
}

.weather button {
    background-color: var(--highlight-color);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.weather button:hover {
    background-color: var(--dark-blue);
}

#weather-info {
    margin-top: 20px;
    font-size: 1.1em;
    color: var(--black);
    
    line-height: 1.6em;
}

#weather-info p {
    margin: 0;
    padding: 5px 0;

}
.news-article {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 95%;
    background-color: #fff;
}

.news-article h3 {
    margin-top: 0;
}

.news-article p {
    margin-bottom: 10px;
    display: none;
}

.news-article a {
    color: var(--highlight-color);
    text-decoration: none;
}

.news-article a:hover {
    text-decoration: underline;
}
#news-container{
    width: 95%;
}