:root {
    --red: #771011;
    --gray-transparent: rgba(111, 99, 88, 0.2);
    --black: #221712;
    --gray-dark: #6F6358;
    --white: #fffeea;
    --gray: #acacac;
    --blue:#5d9792;
    --dark-blue:#467470;
}

body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    overflow-x: hidden;
}

.top {
    background-color: var(--dark-blue);
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px 30px; 
    grid-row: 1;
    border-bottom: 0.6px solid var(--gray); 
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
    
}
#vacation-photo{
    padding: none;
}

.log-in{
    background-color: transparent;
    border: none;
    color: #771011;
    text-decoration: underline;
    font-size: 20px;
}
.log-in:hover{
    cursor: pointer;
}
.mid {
    color:var(--red);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    grid-row: 2;
    position: relative;
}

#logo-top {
    position: absolute;
    top: 20px;
    left: 20px;
}

.data {
    padding: 10px;
    padding-left: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 850px;
    border: 1px solid #221712;
    height: 400px;
}

.new {
    font-size: 25px;
    font-weight: bold;
    color: var(--gray-dark);
    margin-bottom: 20px; /* Space below the heading */
}

.deta-new {
    display: flex;
    flex-direction: column;
}

.deta-new label {
    display: inline-block;
    width: 100px; /* Fixed width for labels */
    margin-right: 10px; /* Space between label and input */
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 13px; /* Space between each input group */
}

.form-group label {
    width: 100px; /* Fixed width for labels */
    margin-right: 10px; /* Space between label and input */
    
}

.form-group input {
    font-size: 16px;
    flex-grow: 0;
    width: 20%; /* Ensure inputs take up the remaining space */
    padding: 3px; /* Add some padding for better appearance */
    border: 1px solid var(--gray-dark); /* Set the default border color */
    outline: none; /* Remove default outline */
}

.form-group input:focus,
.form-group input:active {
    border-color: var(--red); /* Change border color on focus and active */
    box-shadow: 0 0 5px var(--red); /* Optional: Add shadow for better visibility */
}
.customer-care {
    padding: 10px;
    padding-left: 30px;
    margin-top: 50px;
    display: flex;
    width: 220px;
    flex-direction: column;

    border: 1px solid #221712;
    height: 400px;
    margin-left: 20px; /* Added margin to separate from .data */
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px; /* Adjust as needed for spacing from top */
}
.care-text-top{
    margin-bottom: 10px; /* Add some space below */

    height: 30px;
    padding: none;
    border-bottom: 0.5px solid rgb(67, 67, 67);
    width: 185px;
    font-size: 20px;
    color:var(--red);
    font-weight: bold;
}
.care-mid img{
    border-radius: 2px;
}
.footer {
    background-color: var(--gray-dark);
    color: #fff;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}


.footer-text
{
    font-size: 14px;
    color: var(--gray);
}

label {
    display: block;
    
  }
  
  input,
  label {
    margin: 0.4rem 0;
  }


input[type="radio"]:focus,
input[type="radio"]:active,
input[type="radio"] {
    outline: none;
    box-shadow: none;
    border: none;
}
.gender-input {
    display: flex;
    align-items: center;
}

.gender-input label {
    margin-right: 35px; /* רווח בין התווית לאלמנטים של הקלט */
}

.gender-input input {
    margin-right: 5px; /* רווח בין הקלטים לבין עצמם */
}