:root {
    --red: #771011;
    --gray-transparent: rgba(111, 99, 88, 0.2);
    --black: #221712;
    --gray-dark: #6F6358;
    --white: #ffffff;
    --gray: #acacac;
    --blue: #5d9792;
    --dark-blue: #467470;
    --light-gray: #f4f4f4;
    --background-light: #f9f9f9;
    --highlight-color: #305754;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.mid-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}

.breadcrumb-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 10px 0;
    overflow: hidden;
}

.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 14px;
    position: relative;
    top: 5px;
    overflow: hidden;
}

.breadcrumb a {
    color: #305754;
    text-decoration: none;
    margin: 0 5px;
    white-space: nowrap;
}

.breadcrumb span {
    margin: 0 5px;
    white-space: nowrap;
}

.progress-container {
    width: 80%;
    max-width: 1200px;
    text-align: center;
    margin-top: 30px;
    overflow: hidden;
}

.progress-bar {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #eee;
    margin: 0 10px;
    font-weight: bold;
    position: relative;
    color: #333;
    font-size: 20px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    transition: background-color 0.3s, border-bottom 0.3s;
    box-sizing: border-box;
}

.step.active {
    background-color: #ccc;
    border-bottom: 3px solid #305754;
}

.step .icon {
    margin-top: 5px;
    font-size: 24px;
}

.arrow {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin: 0 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.step-circle {
    background-color: #305754;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 16px;
}

.underline {
    width: 0;
    height: 4px;
    background-color: #00f;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: width 0.3s;
    
}

.step.active .underline {
    width: 100%;
}

#content-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 160px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    box-sizing: border-box;
}

.step-content {
    position: relative;
    padding-bottom: 10px;
}

.step-content.active .underline {
    display: block;
    width: 100%;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background: #f8f9fa;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    overflow: hidden;
    bottom: 50px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #305754;
    color: white;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap;
    margin: 0 10px;
}

#next-button {
    margin-right: 20px;
}

#back-button {
    margin-left: 20px;
}

.btn:hover {
    background-color: #305754;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

label {
    margin: 5px 0;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"] {
    width: calc(100% - 16px);
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

fieldset {
    border: none;
    padding: 20px;
    margin: 10px 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

legend {
    font-weight: bold;
    padding: 0 10px;
}

input.invalid {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 10px;
    display: block;
}

form #submit-payment {
    display: block;
    margin: 20px auto 0;
    padding: 10px 30px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form #submit-payment:hover {
    background-color: #218838;
}

.passenger-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    margin-right: 10px;
    box-sizing: border-box;
}

.passenger-card h3 {
    margin-top: 0;
    font-size: 18px;
    color: #305754;
}

#passenger-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#num-passengers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#num-passengers {
    width: 60px;
    text-align: center;
}

.payment-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

#passenger-summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#passenger-summary h3 {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.contact-summary-card {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.contact-summary-card h4 {
    margin-top: 0;
    color: #305754;
}

.contact-summary-card p {
    margin: 5px 0;
    font-size: 16px;
}

.contact-summary-card strong {
    font-weight: bold;
}

.contact-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contact-card h4 {
    margin-top: 0;
    color: #305754;
}

.underline {
    height: 2px;
    background: #305754;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.contact-card,
.passenger-card,
.payment-card,
.vacation-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.contact-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contact-card h4,
.passenger-card h3,
.vacation-card h4 {
    margin-top: 0;
}

.error-message {
    color: red;
    font-size: 0.9em;
}

.invalid {
    border: 1px solid red;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #305754;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #305754;
}

.vacation-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.vacation-card img {
    width: 100%;
    height: 25%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.vacation-card h4 {
    font-size: 18px;
    color: #305754;
    margin-top: 15px;
}

.vacation-card p {
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}

.finish-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

#passenger-summary h3 {
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.passenger-details-title {
    text-align: center;
    font-weight: bold;
    color: #305754;
}
.logo{
    cursor: pointer;
    width: 200px;
}
.centered-passengers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 10px 25px;
    border-bottom: 0.6px solid var(--gray);
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.top-button a {
    color: var(--dark-blue);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.top-button a:hover {
    color: var(--red);
}

.user-info {
    color: var(--highlight-color);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer {
    width: 100%;
    background-color: var(--gray-dark);
    padding: 40px 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    font-size: 14px;
    color: #fff;
    flex-direction: column;
}

.footer-sections {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section {
    flex: 3;
    text-align: center;
    width: fit-content;
}
.footer-section h3 {
    font-size: 16px;
    margin-bottom: 12px;
    color: #fff;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: var(--gray);
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: var(--red);
}

.footer-bottom {
    position: relative;
    top: 15%;
    font-size: 10px;
    color: var(--gray);
}